.color0 { background-color: rgb(165 158 232);}

.color1 { background-color: rgb(3 3 4);}

.color2 { background-color: rgb(208 206 220);}

.color3 { background-color: rgb(58 55 63);}

.color4 { background-color: rgb(136 210 166);}

.color5 { background-color: rgb(225 156 214);}

.color6 { background-color: rgb(204 170 175);}

.color7 { background-color: rgb(114 214 232);}

.color8 { background-color: rgb(121 114 128);}

.color9 { background-color: rgb(246 216 184);}


.color0 { background-color: rgb(165 158 232);}

.color1 { background-color: rgb(3 3 4);}

.color2 { background-color: rgb(208 206 220);}

.color3 { background-color: rgb(58 55 63);}

.color4 { background-color: rgb(136 210 166);}

.color5 { background-color: rgb(225 156 214);}

.color6 { background-color: rgb(204 170 175);}

.color7 { background-color: rgb(114 214 232);}

.color8 { background-color: rgb(121 114 128);}

.color9 { background-color: rgb(246 216 184);}


.color0 { background-color: rgb(178 161 224);}

.color1 { background-color: rgb(4 4 5);}

.color2 { background-color: rgb(225 193 196);}

.color3 { background-color: rgb(129 210 192);}

.color4 { background-color: rgb(95 90 101);}


.color0 { background-color: rgb(226 164 194);}

.color1 { background-color: rgb(4 3 4);}

.color2 { background-color: rgb(223 214 206);}

.color3 { background-color: rgb(165 169 167);}

.color4 { background-color: rgb(83 79 90);}

.color5 { background-color: rgb(117 218 203);}

.color6 { background-color: rgb(172 163 235);}


